body{
    font-family: 'Poppins';
    text-align: center;
}



h5{ /*Freela Title*/
    color: green;
    font-size: xx-large;
    font-weight: bold;
    
}

h6{/*Freela Tagline*/
    color: grey;
    font-size: small;
    font-style: italic;

}

.card_button_options{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap:10px;
}
   
/*button style*/
button{ 
    background-color: green;
    color:white;
    padding: 20px 40px;
    font-size: large;
    font-weight: bold;
    height: 100px;
    width: 300px;
    
    
}
button:hover{
    background: linear-gradient(60deg,yellowgreen, green);
}

.card_summary_button_container{
    display: flex;
    justify-content: flex-start;
    gap:10px;
}

.card_info_summary_box{
    border: 15px solid black;
    width: 500px;
    height: 300px;
    text-align: right;
    
    
}

