body{
    font-family: 'Poppins';
    text-align: center;
}



h5{ /*Freela Title*/
    color: green;
    font-size: xx-large;
    font-weight: bold;
    
}

h6{/*Freela Tagline*/
    color: grey;
    font-size: small;
    font-style: italic;

}
